.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}


.read{
  background-color: darkgreen;
  color:white;
}

.unread{
  background-color: darkred;
  color:white;
}

table{
  border-collapse: collapse;
  width: 100%;
}
table tr th{
  background-color: black;
  color:white;
  height: 50px;
}
table tr td{
  padding: 10px;
}